.allPosts {
  background-color: #fff;
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px;
  background-image: linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    ),
    linear-gradient(
      45deg,
      black 25%,
      transparent 25%,
      transparent 75%,
      black 75%,
      black
    );
}

.logoContainer {
  clear: both;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
}

.logo {
  width: 110%;
  height: auto;
  margin-top: 4em;
}

.boltL {
  width: 45%;
  height: auto;
  transform: scaleX(-1) rotate(20deg);
  margin-top: 2em;
}

.boltR {
  width: 45%;
  height: auto;
  transform: rotate(20deg);
  margin-top: 2em;
}

footer {
  height: 4em;
  background-color: #99fc20;
}
