.oldPostsContainer {
  width: 90%;
  margin: 5em auto;
  clear: both;
  color: #303262;
}

.oldPost {
  margin-top: 3em;
  padding-left: 1em;
  border-left-style: solid;
  border-left-color: #4A52E8;
}

.date {
  font-size: .8em;
  color: #BCBDDE;
}

.title {
  margin-top: .7em;
  font-size: 1.3em;
  text-indent: 1em;
}

.entry {
  margin-top: 1em;
  text-indent: 1.3em;
}
