.navbar {
  height: 4em;
  background-color: #a10eec;
  width: 100%;
}

.loggedIn {
  float: right;
}

@font-face {
  font-family: "Streamster";
  src: url("../../../assets/Streamster.ttf");
}

.navLink {
  font-family: Streamster;
  font-size: 2em;
  color: #00e6fe;
  line-height: 2em;
  padding: 0 18px;
  text-decoration: none;
  display: inline;
  margin: 0 0.5em;
}

.navbar button {
  font-family: Streamster;
  background-color: Transparent;
  border: none;
  color: #00e6fe;
  padding: 6px 18px;
  cursor: pointer;
  font-size: 2em;
  float: right;
  margin-right: 1em;
}

button:focus {
  outline: 0;
}
