.newPost {
  margin: 3em auto;
  line-height: 3em;
  padding: 0 3%;
  width: 40%;
  background-color: #fff;
  border: 5px solid #fd1999;
  border-radius: 5px;
}

.newPost h2 {
  font-family: Streamster;
  color: #00e6fe;
}

.formContainer {
  margin-top: 1em;
}

.formContainer input[type="text"],
textarea {
  width: 70%;
  box-sizing: border-box;
  border: 3px solid #99fc20;
  outline: none;
  resize: none;
  height: 3em;
  margin: 1em 0;
  border-radius: 5px;
  font-size: 1em;
  font-family: "Comic Sans MS";
  padding-left: 1em;
}

.formContainer textarea {
  height: 12em;
  font-size: 0.75em;
}

.dropzone {
  width: 70%;
  height: 3em;
  display: block;
  border: 3px dotted #99fc20;
  box-sizing: border-box;
  margin: 1em 0;
  border-radius: 5px;
  cursor: pointer;
}

.dropzone:focus {
  outline: 0;
}

.dropzone p {
  text-align: center;
}

.dropzone img {
  width: 2em;
  display: block;
  margin: 0.5em auto;
}

.uploadSample {
  width: 100%;
}

.newPost button {
  display: block;
  margin: 1em 0 1em 80%;
  background-color: #a10eec;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-family: "Comic Sans MS";
  border-radius: 5px;
}
