.post {
  margin: 3em auto;
  line-height: 3em;
  padding: 0 3%;
  width: 40%;
  background-color: #fff;
  border: 5px solid #fd1999;
  border-radius: 5px;
}

.post img {
  width: 100%;
}

.video {
  width: 100%;
}

h3 {
  font-family: Streamster;
  color: #00e6fe;
  margin: 1em 0;
}

h2 {
  font-family: "Comic Sans MS";
  color: #a10eec;
}

a {
  text-decoration: none;
}

p {
  font-family: "Comic Sans MS";
}

.sharebtnContainer {
  margin-left: 109%;
}

.sharebtn {
  margin-top: 1em;
}

.sharebtn:focus {
  outline: 0;
}
