.post {
  margin: 3em auto;
  padding: 3%;
  width: 50%;
  background-color: #fff;
  border: 5px solid #fd1999;
  border-radius: 5px;
}

.post img {
  width: 100%;
}

h3 {
  font-family: Streamster;
  color: #00e6fe;
  margin-bottom: 1em;
}

h2 {
  font-family: "Comic Sans MS";
  color: #a10eec;
}

p {
  font-family: "Comic Sans MS";
}
