.postContainer {
  margin: 3em auto;
  line-height: 3em;
  padding: 0 3%;
  width: 40%;
  background-color: #fff;
  border: 5px solid #fd1999;
  border-radius: 5px;
}

.sharebtnContainer {
  float: right;
  margin-right: -15%;
}

.sharebtn {
  margin-bottom: 1em;
}

.sharebtn:focus {
  outline: 0;
}
